*,*::before,*::after {
    box-sizing:border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
}
.page-header__wrapper {
    max-width: 1121px;
    margin: 0 auto;
}
.page-header{
    padding-top: 54px;
}
.nav-list {
    max-width: 1121px;
    padding: 0 15px;
    margin:0;
    display: flex;
    flex-wrap: wrap;
}
.nav-list__item{
    list-style-type: none;
    margin-right: 25px;
}
.nav-list__item:last-child{
    margin-right: 0;
}
.nav-list__link{
    color:#fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.page-header::after{
    content: "";
    display: block;
    width: 100%;
    position: relative;
    top: 65px;
    height: 3px;
    background-color: #fff;
}
