*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
}
p {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.section-title{
    font-weight: 800;
    font-size: 70px;
    line-height: 106%;
    color: #fff;
}
/* -----------Header-------------- */
.page-header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.page-header {
    padding-top: 30px;
}
.nav-list {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.nav-list__item {
    list-style-type: none;
    margin-right: 25px;
}
.nav-list__item:last-child {
    margin-right: 0;
}
.nav-list__link {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.page-header::after {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    top: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 50px;
}
/* -------------MAIN-------------- */
.page-main__wrapper {
    max-width: 1090px;
    margin: 0 auto;
}
section:not(:first-of-type)::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 51px;
}
/* -------------Introduce section-------------- */
.introduce__text {
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 40px;
}
.introduce__subtext {
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 110px;
    line-height: 80%;
    font-weight: 900;
    margin-bottom: 50px;
}
.introduce__link{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 152px;
    height: 152px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 90px;
}
.introduce__link span {
    display: block;
    width: 9px;
    height: 83px;
    background-color: black;
    position: absolute;
    top: 35px;
    left: 71px;
}
.introduce__link span::before {
    content: '';
    display: block;
    width: 9.1px;
    height: 41.81px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: -17px;
    transform: rotate(-50deg);
}
.introduce__link span::after {
    content: '';
    display: block;
    width: 9.1px;
    height: 41.81px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: 17px;
    transform: rotate(50deg);
}
/* -------------About section-------------- */
.about__container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 47px;
}
.about__title{
    margin-bottom: 60px;
}
.about__text{
    max-width: 540px;
    font-weight: 100;
    font-size: 19px;
    line-height: 106%;
    color: #fff;
}
.about__information{
    margin-right: auto;
}
/* -------------Contacts section-------------- */
.contacts__container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.contacts__title{
    margin-bottom: 45px;
}
.list-contacts{
    font-weight: 400;
    font-size: 32px;
    line-height: 106%;
    color: #fff;
    margin: 0;
    padding: 0 0 0 30px;
}
.list-contacts__item{
    position: relative;
    list-style-type: none;
    padding-left: 15px;
}
.list-contacts__link{
    color: #fff;
    text-decoration: underline;
}
.list-contacts__item::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    border-radius: 5px;
    left: -15px;
}
.list-contacts__item:hover::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(193, 96, 0);
    position: absolute;
    top: 9px;
    border-radius: 5px;
    left: -15px;
    transform: scale(2);
    transition: 0.2s all ease;
}
/* -------------Experience section-------------- */
.experience__container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.experience__title{
    margin-bottom: 45px;
}
.list-exp{
    font-weight: 400;
    font-size: 32px;
    line-height: 106%;
    color: #fff;
    margin: 0;
    padding: 0 0 0 30px;
}
.list-exp__item{
    position: relative;
    list-style-type: none;
    padding-left: 15px;
}
.list-exp__link{
    color: #fff;
    text-decoration: none;
}
.list-exp__item::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    border-radius: 5px;
    left: -15px;
}
.list-exp__item:hover::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(193, 96, 0);
    position: absolute;
    top: 9px;
    border-radius: 5px;
    left: -15px;
    transform: scale(2);
    transition: 0.2s all ease;
}
/* -------------Education section-------------- */
.education__container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.education__title{
    margin-bottom: 45px;
}
.information{
    width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.information__item{
    flex: 0 1 33.3%;
}
.information__arrow{
    position: relative;
    width: 64px;
    height: 2px;
    background-color: #fff;
}
.information__arrow::before{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    top: -5px;
    right: -2px;
}
.information__arrow::after{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    top: 5px;
    right: -2px;
}
.information__title{
    font-weight: 400;
    font-size: 32px;
    line-height: 123%;
    color: #fff;
    margin-bottom: 10px;
}
.information__subtitle{
    max-width: 320px;
    font-weight: 275;
    font-size: 19px;
    line-height: 106%;
    color: #fff;
}
/* -------------Skills section-------------- */
.skills__container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.skills__title{
    margin-bottom: 45px;
}
.list-skill{
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}
.list-skill__item{
    list-style-type: none;
}
/* -------------Code Example section-------------- */
.code__container{
    max-width: 1000px;
    margin: 0 auto;
}
.code {
    font-weight: 300;
    font-size: 24px;
    line-height: 106%;
    color: #fff;
}
/* -------------Languages section-------------- */
.languages__container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.languages__title{
    margin-bottom: 45px;
}
.list-lang{
    padding: 0 0 0 50px;
    margin: 0;
}
.list-lang__item{
    position: relative;
    list-style-type: none;
    padding-left: 15px;
    color: #fff;
}
.list-lang__item::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    border-radius: 5px;
    left: -15px;
}
.list-lang__item:hover::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(193, 96, 0);
    position: absolute;
    top: 9px;
    border-radius: 5px;
    left: -15px;
    transform: scale(2);
    transition: 0.2s all ease;
}